@use '@angular/material' as mat;
@import "src/_material-theme.scss";
@import "src/_forms.scss";
@import "src/_breakpoints.scss";

.signup-wrapper {
    .mat-card-container {
        max-width: 500px;
    }

    @media #{$tablet-up} {
        .mat-card-container {
            max-width: 1000px;
        }
    
        mat-form-field {
            width: 48%;
        }
        
        .form-row {
            flex-direction: row;
        }
    
        .error-text {
            color: mat.get-color-from-palette($groupomania-front-warn, default);
            margin-bottom: 20px;
        }
    }
}