<app-post-form (newPost)="onNewPost($event)"></app-post-form>
<div infinite-scroll [infiniteScrollDistance]="infiniteScrollDistance" (scrolled)="onScrollDown()">
    <app-post *ngFor="let post of postsList" [post]="post" [isUnitaryPost]="false"
        (postCommented)="onPostCommented($event)"
        (postLiked)="onPostLiked($event)"
        (loadComments)="onLoadComments($event)"
        (openPost)="onOpenPost($event)"
        [commentsListChanged$]="commentsListChangedSubject.asObservable()"></app-post>
    <mat-spinner *ngIf="postsLoading"></mat-spinner>
</div>