@use '@angular/material' as mat;
@import "src/_material-theme.scss";
@import "../auth-form.scss";

.login-wrapper {
    .main-form {
        max-width: 500px;
    }

    mat-form-field {
        width: 90%;
    }
    
    .form-row {
        flex-direction: column;
    }
}