<div class="login-wrapper form generic-card">
    <div class="mat-card-container">
        <mat-card [formGroup]="mainForm" class="main-form">
            <mat-card-title class="form-title"><h2>Connexion</h2></mat-card-title>
            <div class="form-row">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput formControlName="email">
                    <mat-error>{{ getFormControlErrorText(emailCtrl) }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Mot de passe</mat-label>
                    <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password" (keydown.enter)="onSubmitForm()">
                    <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error>Ce champ est requis</mat-error>
                </mat-form-field>
            </div>
            <mat-card-actions>
                <button [attr.aria-disabled]="!mainForm.valid" mat-flat-button color="primary" (click)="onSubmitForm()" [ngClass]="{ 'disabled-button': !mainForm.valid }">Se connecter</button>
            </mat-card-actions>
            <mat-spinner *ngIf="loading" color="primary" mode="indeterminate"></mat-spinner>
            <p>Vouc n'avez pas de compte ? <a routerLink="/signup">S'inscrire</a></p>
        </mat-card>
    </div>
</div>