.comments-row {
    display: flex;
    border-top: thin solid #555;
    padding-top: 10px;
    justify-content: space-around;
    align-items: center;
}
  
mat-form-field {
    width: 90%;
}

.comments-component mat-list-item {
    & .comment-author {
        font-size: 18px;
        margin-right: 10px;
        font-weight: 500;
    }
    & .comment-date {
        font-size: 14px;
        font-style: italic;
    }
    & .comment-text {
        font-size: 16px;
    }
}