<mat-toolbar color="accent">
    <span>Groupomania</span>
    <ul>
        <li><a routerLink="/social-network">Accueil</a></li>
    </ul>
    <div class="connection-menu">
        <div *ngIf="user$ | async as user; else disconnected" class="connection-menu">
            <span>({{ { firstName: user.firstName, lastName: user.surName, pseudo: user.pseudo } | username }})</span>
            <button routerLink="/login" class="connect-button" mat-flat-button (click)="disconnect()">Se déconnecter
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
        <ng-template #disconnected class="connection-menu">
            <button routerLink="/login" class="connect-button" mat-flat-button>Se connecter
                <mat-icon>person</mat-icon>
            </button>
        </ng-template>
    </div>
</mat-toolbar>