@use '@angular/material' as mat;
@import "src/_material-theme.scss";
.toolbar {
    position: sticky;
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.home-button {
    margin-left: -10px;
}

.connection-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.connect-button {
    color: mat.get-color-from-palette($groupomania-front-accent, default);
    background-color: mat.get-color-from-palette($groupomania-front-tertiary, default);

    & mat-icon {
        margin-left: 5px;
    }
}