<mat-card class="card-with-dots-button post-card">
    <mat-card-header>
        <mat-card-title>
            <span highlight>{{ { firstName: post.author.firstName, lastName: post.author.surName, pseudo: post.author.pseudo } | username }}</span>
        </mat-card-title>
        <mat-card-subtitle>
            <span>{{ post.createdAt | timeAgo }}</span>
            <span *ngIf="hasBeenEdited"> (dernière modification : {{ post.updatedAt | timeAgo }})</span>
        </mat-card-subtitle>
        <button mat-icon-button *ngIf="post.canEditAndDelete" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Editer la publication</span>
            </button>
            <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Supprimer la publication</span>
            </button>
        </mat-menu>
    </mat-card-header>    
    <mat-card-content>
        <img mat-card-image *ngIf="post.imageUrl as imageUrl" [src]="imageUrl" [alt]="post.imageAlt ? post.imageAlt : 'Image du post'">
        <!-- use ngx-ellipsis to apply a text ellipsis (height defined in CSS), and to tell the component if it has been truncated -->
        <!-- use innerText attribute to display correctly special characters (like \n or \r) -->
        <div #ellipsisRef ellipsis (ellipsis-change)="truncated($event)" [ngClass]="{ 'post-content': !seeMore }" [innerText]="post.text"></div>
        <span class="see-more-button" *ngIf="seeMoreButton" (click)="showComplete()">Voir plus</span>
        <span class="see-less-button" *ngIf="seeMore" (click)="showTruncated()">Voir moins</span>
    </mat-card-content>
    <mat-card-actions>
        <div class="actions-bar">
            <button class="comments-button" mat-flat-button *ngIf="hasSomeComment">{{hasSeveralComments ? (post._count.comments + " commentaires") : "1 commentaire"}}</button>
            <div class="likes">
                <p>{{post.likesNumber ? post.likesNumber : 0}}</p>
                <button class="like-button" mat-icon-button (click)="onLike()" [attr.aria-label]="post.userLiked ? 'Button to unlike the post' : 'Button to like the post'">
                    <mat-icon color="primary" [ngClass]="{ 'material-icons-outlined': !post.userLiked }">thumb_up</mat-icon>
                </button>
            </div>
        </div>
        <app-comments [comments]="post.comments" [noMoreCommentToLoad]="noMoreCommentToLoad" (newComment)="onNewComment($event)" (loadMoreComments)="onloadMoreComments()"></app-comments>
    </mat-card-actions>
</mat-card>