.post-card {
    .mat-card-image {
        margin-top: 0;
    }
}

.card-with-dots-button {
    mat-card-header {
        justify-content: space-between;
    }
}

.see-more-button {
    font-weight: 500;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}