.post-card {
    .mat-card-image {
        margin-top: 0;
    }
}

.card-with-dots-button {
    mat-card-header {
        justify-content: space-between;
    }
}

.see-more-button, .see-less-button {
    font-weight: 500;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.post-content {
    // height for the post text ellipsis (ngx-ellipsis)
    max-height: 6.5rem;
}