@use '@angular/material' as mat;
@import "src/_material-theme.scss";

.post-card {
    .delete-loading-spinner {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .mat-card-content {
        display: flex;
        flex-direction: column;
    }

    .mat-card-image {
        margin-top: 0;
        align-self: center;
        width: auto;
        max-width: 100%;
        max-height: 95vh; // 95% of the viewport height (because of the header)
    }

    mat-card-header {
        justify-content: space-between;
    }
    
    .see-more-button, .see-less-button {
        font-weight: 500;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    
    .post-text {
        // use white-space:pre-wrap to display correctly special characters (like \n or \t)
        white-space: pre-wrap;
    }
    
    .post-content {
        // height for the post text ellipsis (ngx-ellipsis)
        max-height: 6.5rem;
    }

    .card-actions {
        margin: 0;
    }
    
    .actions-bar {
        display: flex;
        align-items: baseline;
    }
    
    .comments-button {
        padding: 0;
        font-weight: 600;
        color: mat.get-color-from-palette($groupomania-front-primary, default);
    
        &:hover {
            text-decoration: underline;
        }
    }
    
    .likes {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: baseline;
    }
}