<app-post-form (newPost)="onNewPost($event)"></app-post-form>
<div class="post-list" infinite-scroll [infiniteScrollDistance]="infiniteScrollDistance" (scrolled)="onScrollDown()">
    <app-post *ngFor="let post of postsList" [post]="post" [isUnitaryPost]="false"
        (postCommented)="onPostCommented($event)"
        (postLiked)="onPostLiked($event)"
        (loadComments)="onLoadComments($event)"
        (viewPost)="onViewPost($event)"
        (deletePost)="onDeletePost($event)"
        [commentsListChanged$]="commentsListChangedSubject.asObservable()"
        [deletePostError$]="deletePostErrorSubject.asObservable()"></app-post>
    <mat-spinner *ngIf="postsLoading"></mat-spinner>
</div>