
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$primary-palette: (
  50: #ffe8e6,
  100: #ffcab9,
  200: #ffa68c,
  300: #ff815d,
  400: #ff6038,
  500: #ff3b0e,
  600: #ff3408,
  700: #fd2d01,
  800: #ef1f00,
  900: #d80000,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: white,
  )
);

$secondary-palette: (
  50: #ffeff0,
  100: #ffd7d7,
  200: #f2aaa2,
  300: #ee897c,
  400: #fa7158,
  500: #fd663b,
  600: #f25e3c,
  700: #df5436,
  800: #d24e30,
  900: #c34423,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: white,
  )
);

$tertiary-palette: (
  50: #f0f0fd,
  100: #d7dbed,
  200: #c1c4d9,
  300: #a8acc6,
  400: #9599b5,
  500: #8287a6,
  600: #727894,
  700: #5f637d,
  800: #4e5166,
  900: #393c4e,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: white,
    800: white,
    900: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$groupomania-front-primary: mat.define-palette($primary-palette, 700, 400, 900);
$groupomania-front-accent: mat.define-palette($secondary-palette, 100, 50, 400);
$groupomania-front-tertiary: mat.define-palette($tertiary-palette, 800, 600, 900);

// The warn palette is optional (defaults to red).
$groupomania-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$groupomania-front-theme: mat.define-light-theme((
  color: (
    primary: $groupomania-front-primary,
    accent: $groupomania-front-accent,
    warn: $groupomania-front-warn,
  )
));